@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* TEXT PRESETS */
  /* Preset 1 */
  --text-preset-1: 3.5rem; /* 56px */
  --text-preset-1--line-height: 1; /* 56px / 56px = 1 */
  --text-preset-1--font-weight: 800; /* Extra Bold */
  --text-preset-1--letter-spacing: 0px;

  /* Preset 2 */
  --text-preset-2: 2.5rem; /* 40px */
  --text-preset-2--line-height: 1; /* 40px / 40px = 1 */
  --text-preset-2--font-weight: 800; /* Extra Bold */
  --text-preset-2--letter-spacing: 0px;

  /* Preset 3 */
  --text-preset-3: 2rem; /* 32px */
  --text-preset-3--line-height: 1; /* 32px / 32px = 1 */
  --text-preset-3--font-weight: 700; /* Bold */
  --text-preset-3--letter-spacing: 0px;

  /* Preset 4 */
  --text-preset-4: 1.25rem; /* 20px */
  --text-preset-4--line-height: 1.2; /* 24px / 20px = 1.2 */
  --text-preset-4--font-weight: 800; /* Extra Bold */
  --text-preset-4--letter-spacing: 0px;

  /* Preset 5 */
  --text-preset-5: 1.125rem; /* 18px */
  --text-preset-5--line-height: 1.333; /* 24px / 18px ≈ 1.333 */
  --text-preset-5--font-weight: 800; /* Extra Bold */
  --text-preset-5--letter-spacing: 0px;

  /* Preset 6 */
  --text-preset-6: 0.9375rem; /* 15px */
  --text-preset-6--line-height: 1.733; /* 26px / 15px ≈ 1.733 */
  --text-preset-6--font-weight: 400; /* Regular */
  --text-preset-6--letter-spacing: 0px;

  /* Preset 7 */
  --text-preset-7: 0.875rem; /* 14px */
  --text-preset-7--line-height: 1.714; /* 24px / 14px ≈ 1.714 */
  --text-preset-7--font-weight: 700; /* Bold */
  --text-preset-7--letter-spacing: 4.38px;
}

@utility text-preset-1 {
  font-size: var(--text-preset-1);
  line-height: var(--text-preset-1--line-height);
  font-weight: var(--text-preset-1--font-weight);
  letter-spacing: var(--text-preset-1--letter-spacing);
}

@utility text-preset-2 {
  font-size: var(--text-preset-2);
  line-height: var(--text-preset-2--line-height);
  font-weight: var(--text-preset-2--font-weight);
  letter-spacing: var(--text-preset-2--letter-spacing);
}

@utility text-preset-3 {
  font-size: var(--text-preset-3);
  line-height: var(--text-preset-3--line-height);
  font-weight: var(--text-preset-3--font-weight);
  letter-spacing: var(--text-preset-3--letter-spacing);
}

@utility text-preset-4 {
  font-size: var(--text-preset-4);
  line-height: var(--text-preset-4--line-height);
  font-weight: var(--text-preset-4--font-weight);
  letter-spacing: var(--text-preset-4--letter-spacing);
}

@utility text-preset-5 {
  font-size: var(--text-preset-5);
  line-height: var(--text-preset-5--line-height);
  font-weight: var(--text-preset-5--font-weight);
  letter-spacing: var(--text-preset-5--letter-spacing);
}

@utility text-preset-6 {
  font-size: var(--text-preset-6);
  line-height: var(--text-preset-6--line-height);
  font-weight: var(--text-preset-6--font-weight);
  letter-spacing: var(--text-preset-6--letter-spacing);
}

@utility text-preset-7 {
  font-size: var(--text-preset-7);
  line-height: var(--text-preset-7--line-height);
  font-weight: var(--text-preset-7--font-weight);
  letter-spacing: var(--text-preset-7--letter-spacing);
}
